<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-table #dt [value]="appeals" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10, 20]" [showCurrentPageReport]="true" [styleClass]="
            'p-datatable-sm p-datatable-gridlines p-datatable-striped'">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <p-button icon="pi pi-refresh" label="Clear Filters" (onClick)="dt.clear()" class="p-button-secondary" />
          </div>
        </ng-template>

        <!-- Row for Column Headers -->
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 18rem">Actions</th>
            <th style="min-width: 25rem">Title</th>
            <th style="min-width: 15rem">Requirement Date</th>
            <th style="min-width: 15rem">Total Funds Required</th>
            <th style="min-width: 12rem">Funds Received</th>
            <th style="min-width: 12rem">Funds Needed</th>
            <th style="min-width: 12rem">Zakat Eligible</th>
            <th style="min-width: 12rem">Interest Eligible</th>
            <th style="min-width: 12rem">Is Anonymous</th>
          </tr>

          <!-- Row for Search Inputs -->
          <tr class="filter-row">
            <td></td>
            <td><input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')"
                placeholder="Search by Title" class="filter-input"></td>
            <td><input pInputText type="text" (input)="dt.filter($event.target.value, 'requirementDate', 'contains')"
                placeholder="Search by Date" class="filter-input"></td>
            <td><input pInputText type="text" (input)="dt.filter($event.target.value, 'totalFundsRequired', 'contains')"
                placeholder="Search by Total Funds" class="filter-input"></td>
            <td><input pInputText type="text" (input)="dt.filter($event.target.value, 'fundsReceived', 'contains')"
                placeholder="Search by Received Funds" class="filter-input"></td>
            <td><input pInputText type="text" (input)="dt.filter($event.target.value, 'fundsNeeded', 'contains')"
                placeholder="Search by Needed Funds" class="filter-input"></td>
            <td><p-dropdown [options]="yesNoOptions" (onChange)="dt.filter($event.value, 'isZakatEligible', 'equals')"
                placeholder="Select" class="filter-input"></p-dropdown></td>
            <td><p-dropdown [options]="yesNoOptions" (onChange)="dt.filter($event.value, 'isIntrestEligible', 'equals')"
                placeholder="Select" class="filter-input"></p-dropdown></td>
            <td><p-dropdown [options]="yesNoOptions" (onChange)="dt.filter($event.value, 'isAnonymous', 'equals')"
                placeholder="Select" class="filter-input"></p-dropdown></td>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-appeal>
          <tr>
            <td>
              <div class="flex justify-content-center flex-wrap gap-3">
                <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" severity="success"
                  (onClick)="editAppeal(appeal.id)" *ngIf="showEditButton(appeal)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                  (onClick)="deleteAppeal(appeal)" *ngIf="showDeleteButton(appeal)" />
                <p-button icon="pi pi-eye" class="mr-1" [rounded]="true" [outlined]="true"
                  (onClick)="viewAppeal(appeal)" />
              </div>
            </td>
            <td>{{ appeal.title }}</td>
            <td>{{ appeal.requirementDate | date : 'dd-MM-yyyy' }}</td>
            <td>{{ appeal.totalFundsRequired }}</td>
            <td>{{ appeal.fundsReceived }}</td>
            <td>{{ appeal.fundsNeeded }}</td>
            <td>{{ appeal.isZakatEligible ? 'Yes' : 'No' }}</td>
            <td>{{ appeal.isIntrestEligible ? 'Yes' : 'No' }}</td>
            <td>{{ appeal.isAnonymous ? 'Yes' : 'No' }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ appeals ? appeals.length : 0 }} appeals.
          </div>
        </ng-template>
      </p-table>


      <app-appeal-view [appeal]="appeal" [viewDialog]="viewDialog"></app-appeal-view>

    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }" />
<p-toast />