<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-table
        [value]="appeals"
        [paginator]="true"
        [rows]="10"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10, 20]"
        [showCurrentPageReport]="true"
        [styleClass]="
          'p-datatable-sm p-datatable-gridlines p-datatable-striped'
        "
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <span></span>
            <p-button icon="pi pi-refresh" />
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 18rem">Actions</th>
            <th pSortableColumn="title" style="min-width: 25rem">
              Title<p-sortIcon field="title" />
            </th>

            <th pSortableColumn="requirementDate" style="min-width: 15rem">
              Requirement Date<p-sortIcon field="requirementDate" />
            </th>

            <th pSortableColumn="totalFundsRequired" style="min-width: 15rem">
              Total Funds Required<p-sortIcon field="totalFundsRequired" />
            </th>

            <th pSortableColumn="fundsReceived" style="min-width: 12rem">
              Funds Received<p-sortIcon field="fundsReceived" />
            </th>

            <th pSortableColumn="fundsNeeded" style="min-width: 12rem">
              Funds Needed<p-sortIcon field="fundsNeeded" />
            </th>

            <th pSortableColumn="isZakatEligible" style="min-width: 12rem">
              Zakat Eligible<p-sortIcon field="isZakatEligible" />
            </th>

            <th pSortableColumn="isIntrestEligible" style="min-width: 12rem">
              Interest Eligible<p-sortIcon field="isIntrestEligible" />
            </th>

            <th pSortableColumn="isAnonymous" style="min-width: 12rem">
              Is Anonymous<p-sortIcon field="isAnonymous" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appeal>
          <tr>
            <td>
              <div class="flex justify-content-center flex-wrap gap-3">
                <p-button
                  icon="pi pi-pencil"
                  [rounded]="true"
                  [outlined]="true"
                  severity="success"
                  (onClick)="editAppeal(appeal.id)"
                  *ngIf="showEditButton(appeal)"
                />
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="deleteAppeal(appeal)"
                  *ngIf="showDeleteButton(appeal)"
                />
                <p-button
                  icon="pi pi-eye"
                  class="mr-1"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="viewAppeal(appeal)"
                />
              </div>
            </td>
            <td>{{ appeal.title }}</td>
            <td>{{ appeal.requirementDate | date : 'dd-MM-yyyy' }}</td>
            <td>{{ appeal.totalFundsRequired }}</td>
            <td>{{ appeal.fundsReceived }}</td>
            <td>{{ appeal.fundsNeeded }}</td>
            <td>{{ appeal.isZakatEligible ? 'Yes' : 'No' }}</td>
            <td>{{ appeal.isIntrestEligible ? 'Yes' : 'No' }}</td>
            <td>{{ appeal.isAnonymous ? 'Yes' : 'No' }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ appeals ? appeals.length : 0 }} appeals.
          </div>
        </ng-template>
      </p-table>

      <p-dialog
        [(visible)]="viewDialog"
        [style]="{ width: '1200px' }"
        header="Appeals Details"
        [modal]="true"
        styleClass="p-fluid"
      >
        <div class="card">
          <div class="col-12 md:col-12 lg:col-12">
            <h2 style="text-align: center">{{ appeal && appeal.title }}</h2>
          </div>
          <div class="p-col-12 description">
            <p>{{ appeal && appeal.description }}</p>
          </div>
          <br /><br />
          <h3 style="text-align: center">Fund Details</h3>
          <div
            style="
              display: flex;
              justify-content: center;
              gap: 100px;
              margin-top: 20px;
              color: blue;
              font-size: 17px;
            "
          >
            <span
              >Total Funds Required:
              {{ appeal && appeal.totalFundsRequired }}</span
            >
            <span>Funds Received: {{ appeal && appeal.fundsReceived }}</span>
            <span>Funds Remaining: {{ appeal && appeal.fundsNeeded }}</span>
          </div>
          <br /><br />
          <div style="display: flex; gap: 10px; margin-top: 20px">
            <div style="flex: 1">
              <div class="card">
                <h3>Applear Details</h3>
                <br />
                <p>Applear:{{ appeal && appeal.appealer }}</p>
                <p>Mobile:{{ appeal && appeal.appealerMobile }}</p>
                <br /><br />
              </div>
            </div>
            <div style="flex: 2">
              <div class="card">
                <h3>Payment Details</h3>
                <p>Account Number:</p>
                <p>Bank Name:</p>
                <p>Branch Name:</p>
                <p>IFSC Code:</p>
              </div>
            </div>
          </div>
          <br /><br />
          <div class="col-12">
            <h3>Verifier Details</h3>
            <p>Verifier:{{ appeal && appeal.verifier }}</p>
            <p>Mobile: {{ appeal && appeal.verifierMobile }}</p>
            <p>Verified Date: {{ appeal && appeal.verifiedDate }}</p>
          </div>
          <p-button
            label="Close"
            [text]="true"
            severity="close"
            (onClick)="hideDialog()"
          />
        </div>
      </p-dialog>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }" />
<p-toast />
