<div class="grid">
  <div
    class="col-12 md:col-6 lg:col-12 flex flex-column gap-2 flex flex-column gap-2"
  >
    <label for="username">Full Name</label>
    <input
      placeholder="Full Name"
      id="fullname"
      type="text"
      pInputText
      [(ngModel)]="user.fullname"
      disabled="true"
    />
  </div>
  <div
    class="col-12 md:col-6 lg:col-12 flex flex-column gap-2 flex flex-column gap-2"
  >
    <label for="username">User Name</label>
    <input
      placeholder="User Name"
      id="username"
      type="text"
      pInputText
      [(ngModel)]="user.username"
      disabled="true"
    />
  </div>
  <div class="col-12 md:col-6 lg:col-12 flex flex-column gap-2">
    <label for="email">Email</label>
    <input
      placeholder="Email"
      id="email"
      type="text"
      pInputText
      [(ngModel)]="user.email"
      disabled="true"
    />
  </div>
  <div class="col-12 md:col-6 lg:col-12 flex flex-column gap-2">
    <label for="mobile">Mobile</label>
    <input
      placeholder="Mobile"
      id="mobile"
      type="text"
      pInputText
      [(ngModel)]="user.mobile"
      disabled="true"
    />
  </div>
  <div class="col-12 md:col-6 lg:col-12 flex flex-column gap-2">
    <label for="rolename">Role Name</label>
    <input
      placeholder="Role Name"
      id="rolename"
      type="text"
      pInputText
      [(ngModel)]="user.role"
      disabled="true"
    />
  </div>
</div>
