<div class="grid">
    <div class="col-12">
        <div class="card">

            <form [formGroup]="appealsForm" (ngSubmit)="saveAppeal()">
                <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
                    <div class="col-12 md:col-6 lg:col-8">
                        <h3>Add Appeal</h3>
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="Title" type="text" pInputText formControlName="title" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <p-dropdown [options]="appealCategories" formControlName="appealCategory"
                                    placeholder="Select a Category"></p-dropdown>
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <p-multiSelect [options]="fundOptions" [formControl]="fundControl" optionLabel="label"
                                    placeholder="Select a Fund"></p-multiSelect>
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <input id="owner" formControlName="owner" type="text" pInputText disabled>
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <p-inputNumber placeholder="Cost Involve" mode="currency" inputId="currency-india"
                                    currency="INR" currencyDisplay="code" locale="en-IN"
                                    formControlName="costInvolve" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <p-inputNumber placeholder="Accumulated Amount" mode="currency" inputId="currency-india"
                                    currency="INR" currencyDisplay="code" locale="en-IN"
                                    formControlName="accumulatedAmount" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <p-inputNumber placeholder="Balance Amount" mode="currency" inputId="currency-india"
                                    currency="INR" currencyDisplay="code" locale="en-IN"
                                    formControlName="balanceAmount" />
                            </div>


                            <div class="col-12 md:col-6 lg:col-12">
                                <p-editor formControlName="description" [style]="{ height: '200px' }"
                                    placeholder="Enter the Description" />
                            </div>

                            <!-- <div class="card"> -->
                            <div class="col-12 md:col-6 lg:col-12">
                                <p-tabView>
                                    <p-tabPanel header="Upload Images">

                                        <div class="col-12 md:col-6 lg:col-12">
                                            <p-fileUpload (onSelect)="onFileSelect($event)" formControlName="photos"
                                                accept="image/*" maxFileSize="1000000" chooseLabel="Choose"
                                                uploadLabel="Upload Images" cancelLabel="Cancel"></p-fileUpload>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Upload Documents">
                                        <div class="col-12 md:col-6 lg:col-12">
                                            <p-fileUpload name="documents" customUpload="true"
                                                (uploadHandler)="onUpload($event)" formControlName="documents"
                                                uploadLabel="Upload Documents"></p-fileUpload>

                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Payment Details">
                                        <div class="col-12 md:col-6 lg:col-12">
                                            <p-fileUpload mode="basic" chooseLabel="Upload QR Code"
                                                chooseIcon="pi pi-upload" name="upiQRCode" [customUpload]="true"
                                                (uploadHandler)="onUpload($event)" mode="advanced" [multiple]="false"
                                                accept="image/*" maxFileSize="1000000" />
                                        </div>

                                        <div class="col-12 md:col-6 lg:col-4">
                                            <input placeholder="Bank Name" type="text" pInputText
                                                formControlName="bankName" />
                                        </div>

                                        <div class="col-12 md:col-6 lg:col-4">
                                            <input placeholder="Branch Name" type="text" pInputText
                                                formControlName="branchname" />
                                        </div>

                                        <div class="col-12 md:col-6 lg:col-4">
                                            <input placeholder="IFSC" type="text" pInputText formControlName="ifsc" />
                                        </div>

                                        <div class="col-12 md:col-6 lg:col-4">
                                            <input placeholder="Account Holder Name" type="text" pInputText
                                                formControlName="accountHolderName" />
                                        </div>

                                        <div class="col-12 md:col-6 lg:col-4">
                                            <input placeholder="Account Holder Number" type="text" pInputText
                                                formControlName="accountHolderNumber" />
                                        </div>

                                        <div class="col-12 md:col-6 lg:col-4">
                                            <input placeholder="UPI ID" type="text" pInputText
                                                formControlName="upiId" />
                                        </div>

                                        <div class="col-12 md:col-6 lg:col-4">
                                            <input placeholder="UPI Number" type="text" pInputText
                                                formControlName="upiNumber" />
                                        </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>


                            <!-- <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="UPI ID" type="text" pInputText formControlName="upiid" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="UPI Number" type="text" pInputText formControlName="upinumder" />
                            </div>
                            
                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="Bank Name" type="text" pInputText formControlName="bankName" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="Branch Name" type="text" pInputText formControlName="branchName" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="Branch Name" type="text" pInputText formControlName="branchName" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="IFSC" type="text" pInputText formControlName="ifsc" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="Account Holder Name" type="text" pInputText
                                    formControlName="accountHolderName" />
                            </div>

                            <div class="col-12 md:col-6 lg:col-4">
                                <input placeholder="Account Holder Number" type="text" pInputText
                                    formControlName="accountHolderName" />
                            </div> -->

                            <div
                                class="flex flex-column sm:flex-row justify-content-between align-items-center gap-3 py-2">
                                <button pButton pRipple label="Discard" icon="pi pi-fw pi-trash"
                                    class="p-button-danger p-button-outlined flex-1"></button>

                                <button pButton pRipple [disabled]="!appealsForm.valid" label="Save"
                                    icon="pi pi-fw pi-check" class="p-button-primary flex-1"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>