body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Dialog Header */
.p-dialog .p-dialog-header {
    background-color: #0066cc;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Title Section */
.title-container h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Description Section */
.description-container {
    margin-bottom: 20px;
}

.description-container p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.appeal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/* Fund Details */
.fund-details {
    margin-top: 25px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.fund-details h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.fund-info {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

.fund-info span {
    font-weight: bold;
    color: #0066cc;
}

/* Card Layout */
.card-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    width: 48%;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 3px solid #0066cc;
    padding-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

/* Payment Details Section */
.payment-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.payment-details h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.payment-details p {
    font-size: 1.1rem;
    color: #666;
    margin-top: 10px;
}

/* Footer Section with Centered Button */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



/* Mobile Responsiveness */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 100%;
    }

    .fund-info {
        flex-direction: column;
        gap: 15px;
        font-size: 1rem;
    }


}