<p-dialog [(visible)]="viewDialog" [style]="{ width: '100%', maxWidth: '1200px' }" header="Appeals Details"
  [modal]="true" styleClass="p-fluid appeal-dialog">


  <div class="col-12 title-container">
    <h2>{{ appeal && appeal.title }}</h2>
  </div>

  <div class="description-container">
    <p>{{ appeal && appeal.description | striphtml}}</p>
  </div>
  <hr>
  <div class="fund-details">
    <h3>Fund Details</h3>
    <br>
    <div class="fund-info">
      <span>Total Funds Required: {{ appeal && appeal.totalFundsRequired }}</span>
      <span>Funds Received: {{ appeal && appeal.fundsReceived }}</span>
      <span>Funds Remaining: {{ appeal && appeal.fundsNeeded }}</span>
    </div>
  </div>

  <div class="payment-details">
    <h3 style="text-align: center;">Payment Details</h3>
    <br>
    <p>Account Number: {{ appeal && appeal.accountNumber }}</p>
    <p>Bank Name: {{ appeal && appeal.bankName }}</p>
    <p>Branch Name: {{ appeal && appeal.branchName }}</p>
    <p>IFSC Code: {{ appeal && appeal.ifscCode }}</p>
  </div>

  <div class="card-container">
    <div class="card appeal-details-card">
      <h3>Appealer Details</h3>
      <p>Appealer: {{ appeal && appeal.appealer }}</p>
      <p>Mobile: {{ appeal && appeal.appealerMobile }}</p>
    </div>

    <div class="card verifier-details-card">
      <h3>Verifier Details</h3>
      <p>Verifier: {{ appeal && appeal.verifier }}</p>
      <p>Mobile: {{ appeal && appeal.verifierMobile }}</p>
      <p>Verified Date: {{ appeal && appeal.verifiedDate }}</p>
    </div>
  </div>

  <div class="footer">
    <p-button label="Close" [text]="true" severity="close" (onClick)="hideDialog()" class="footer-btn"></p-button>
  </div>

</p-dialog>